<footer class="footer">
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag("js", new Date());
    gtag("config", "UA-179080943-1");
  </script>
  <div id="disqus_thread"></div>  
  Copyright 2020-2021 nerding_it (%v HTML).<br>
  Last updated %C. <br>
  Built with %c.
</footer>
