<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" id="navbar">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">  
    <ul class="navbar-nav">
      <a class="nav-item nav-link" href="/"> Home </a>
      <a class="nav-item nav-link" href="/about.html">About </a>
      <a class="nav-item nav-link" href="/contact.html">Contact </a>            
      <a target="_blank" class="nav-item nav-link" href="/sriharsha-resume/resume.html">Resume </a>      
      <a class="nav-item nav-link" href="/index.xml">
	<i class="fa fa-rss"></i>	
	Feed
      </a>      
      <li class="nav-item title-tag-line"> 
	<span> Learn, share & repeat </span>
	<span> Sriharsha </span>
      </li>
      <a target="_blank" class="nav-item nav-link" href="https://twitter.com/nerding_it"> 
	<i class="fa fa-twitter"></i>
      </a>
      <a target="_blank" class="nav-item nav-link" href="https://reddit.com/user/nerding_it"> 
	<i class="fa fa-reddit"></i>
      </a>
      <a target="_blank" class="nav-item nav-link" href="https://instagram.com/nerding_itt"> 
	<i class="fa fa-instagram"></i>
      </a>
      <a target="_blank" class="nav-item nav-link" href="https://www.youtube.com/channel/UC6VAUNemT702MK112V-P2lg?view_as=subscriber"> 
	<i class="fa fa-youtube"></i>
      </a>
      <a target="_blank" class="nav-item nav-link" href="https://linkedin.com/in/nerding_it"> 
	<i class="fa fa-linkedin"></i>
      </a>
      <a target="_blank" class="nav-item nav-link" href="https://github.com/nerding-it"> 
	<i class="fa fa-github"></i>
      </a>
      <a target="_blank" class="nav-item nav-link" href="https://gitlab.com/nerding_it"> 
	<i class="fa fa-gitlab"></i>
      </a>
      <a target="_blank" class="nav-item nav-link" href="https://medium.com/@nerding_it"> 
	<i class="fa fa-medium"></i>
      </a>
      <a target="_blank" class="nav-item nav-link" href="https://stackoverflow.com/users/5978922/nerding-it"> 
	<i class="fa fa-stack-overflow"></i>
      </a>
    </ul>
  </div>
</nav>

<h1 class="title-home"> Latest updates across the site </h1>
