<div class="col mt-2">
  <h6> Subscribe to Weekly News Letter </h6>
  <form id="subscription-form" action="https://formspree.io/mzbkzbak" method="POST">
    <div class="form-group">
      <input id="subscription-email" name="email" type="email" class="form-control">
      <small class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <!-- Message place holder -->
    <button type="submit" class="btn btn-primary">Subscribe</button>
  </form>
  <div style="display:none" class="alert mt-2" id="subscription-message">
  </div>
</div>
